<html>
<head>
<title>

</title>
<style>
   table, th, td {
  border: 1px solid black;
}

</style>
</head>
<body>
<h1>Register Studnet Details</h1>

<table style="border:1px">
     <tr>
        <th>College Id</th>
        <th>Class Id</th>
        <th> name</th>
        <th> email</th>
    </tr>
    {%for s in stu%}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.stuid}}</td>
            <td>{{s.stuname}}</td>
            <td>{{s.stuemail}}</td>
        </tr>
    {%endfor%}
</table>

</body>
</html>
